*{
    font-family:'Istok Web', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #F1F1F3;

}

.uc-1-menambahkan-insiden{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* SIDEBAR */
.uc-1-menambahkan-insiden-sidebar{
    flex-grow: 1;
    background-color:#05131D ;
    margin: 0;
    min-width: 150px;
    max-width: 150px;
}

.uc-1-menambahkan-insiden-sidebar-content{
    color: white;
    margin:50px 0px 35px 0px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

.logout button{
    padding: 0px;
    margin: 0;
    background-color: #05131D;
    border: none;
    color: white;
    font-size: 10px;
    width: 100%;
    text-align: left;
}

.uc-1-menambahkan-insiden-sidebar-content-profile{
    text-align: center;
    margin-bottom: 50px;
}

.uc-1-menambahkan-insiden-sidebar-content-profile svg{
    height: 50px;
    width: 50px;
}

.uc-1-menambahkan-insiden-sidebar-content h2{
    padding: 20px 20px 20px 20px;
    margin: 0;
}

.uc-1-menambahkan-insiden-sidebar-content h2:hover{
    background-color: #39CDF0;
}

.uc-1-menambahkan-insiden-sidebar-content a{
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.uc-1-menambahkan-insiden-menu-item.active{
    background-color: #39CDF0;
}


.uc-1-menambahkan-insiden-menu-item-submenu a{
    text-decoration: none;
    list-style-type: none;
    color: white;
}
.uc-1-menambahkan-insiden-menu-item-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color:#05131D;
    border: 1px solid #ccc;
    border: 0;
    list-style-type: none;
    font-size: 14px;
    padding: 0;
    margin-top: 0;

}

.uc-1-menambahkan-insiden-menu-item-submenu li{
    width: 100px;
    padding: 10px;
    padding-left: 30px;
}

.uc-1-menambahkan-insiden-menu-item-submenu li:hover{
    background-color: #39CDF0;
}

.uc-1-menambahkan-insiden-menu-item.active .uc-1-menambahkan-insiden-menu-item-submenu {
    display: block;
}

.uc-1-menambahkan-insiden-menu-item{
    position: relative
}

/* MAIN ARTIKEL */
.uc-1-menambahkan-insiden-main{
    flex-grow: 3;
    padding: 15px 20px 15px 20px;
}

.uc-1-menambahkan-insiden-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.uc-1-menambahkan-insiden-header img{
    width: 251px;
    height: 94.02px;
}

.uc-1-menambahkan-insiden-artikel{
    display: flex;
    flex-direction: column;

}

.uc-1-menambahkan-insiden-view-artikel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 50px;

}

/* MENAMBAHKAN INSIDEN */
.uc-1-menambahkan-insiden-view-artikel-insiden{
    background-color: white;
    padding: 20px 30px 20px 30px;
    flex-grow: 1;
    width: 50%;
    border-radius: 10px;
}

.uc-1-menambahkan-insiden-view-artikel-insiden h1{
    margin: 0px;
    color:#34469A;
    font-size: 34px;
}

.uc-1-menambahkan-insiden-view-artikel-insiden-header{
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

/* INPUT FIELD */
.uc-1-menambahkan-insiden-input-field{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.uc-1-menambahkan-insiden-input-field label{
    margin-bottom: 7px;
    font-size: 16px;
}

.uc-1-menambahkan-insiden-input-field-nama{
    display: flex;
    flex-direction: column;
}

.uc-1-menambahkan-insiden-input-field-nama input{
    border-radius: 20px;
    border: 1px solid #34469A;
    height: 40px;
    padding: 3px 20px 3px 20px;
}

.uc-1-menambahkan-insiden-input-field-deskripsi{
    display: flex;
    flex-direction: column;
}

.uc-1-menambahkan-insiden-input-field-deskripsi textarea{
    border-radius: 20px;
    border: 1px solid #34469A;
    padding: 20px 20px 20px 20px;
}


/* BUTTON */
.uc-1-menambahkan-insiden-view-artikel-footer-back a{
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.uc-1-menambahkan-insiden-view-artikel-footer{
    float: right;
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    gap: 21px;
}

.uc-1-menambahkan-insiden-view-artikel-footer-back button{
    padding: 10px 30px 10px 30px;
    background-color: #F1F1F3;
    color: #05131D;
    font-size: 12px;
    font-weight: bolder;
    border-radius: 8px;
    border: 2px solid #000000;
}

.uc-1-menambahkan-insiden-view-artikel-footer-back button:hover{
    background-color: #39CDF0;
    border: 2px solid #39CDF0;
}

.uc-1-menambahkan-insiden-view-artikel-footer-save button{
    padding: 10px 30px 10px 30px;
    background-color: #34469A;
    color: white;
    font-weight: bolder;
    font-size: 12px;
    border-radius: 8px;
    border: 2px solid #34469A;
}

.uc-1-menambahkan-insiden-view-artikel-footer-save button:hover{
    background-color:#39CDF0;
    border: 2px solid #39CDF0;
}

@media (max-width: 840px) {
    .uc-1-menambahkan-insiden-view-artikel-insiden-header h1{
        font-size: 28px;
    }

}

@media (max-width: 690px) {
    .uc-1-menambahkan-insiden-view-artikel-insiden-header h1{
        font-size: 18px;
    }

}


