/*Template All*/
#bodyAll {
    padding: 10px 70px 10px 70px;
}

.judul {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #34469a;
}

.judul h3 {
    margin-top: 20px;
}

/*Dashboard Aset Page*/
.list-group-item {
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.list-group-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0,  0.2);
}

/*Detail Aset Page*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem auto;
    max-width: 1200px;
}

.card {
    width: 75%;
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.align-middle a {
    color: black;
    text-decoration: none;
}

.card-body,
.card-footer {
    padding: 1rem;
}

.logoKominfo-uc-3 {
    width: 251px;
    height: 94px;
}

/* SHOW */
#mainShow {
    display: grid;
    width: 100%;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.carousel-item.active img {
    width: 400px;
    height: 300px;
}

.showImage {
    grid-column-start: 1;
    margin: 40px;
    border: 4px solid #34469a;
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    height: 300px;
}

.showCard {
    grid-column-start: 2;
    margin: 40px;
    border: 4px solid #34469a;
    border-radius: 10px;
    width: 400px;
    overflow: hidden;
}

#mainShow .card {
    border: 4px solid #34469a;
    border-radius: 10px;
}

#mainShow .card-header {
    background-color: #34469a;
    color: #fff;
    text-align: center;
}

#mainShow .card-body {
    background-color: #fff;
    color: #004385;
    text-align: center;
    overflow-y: auto;
    height: 268px;
}

#mainShow .card-body span {
    background-color: #34469a;
    color: #fff;
    padding: 8px 12px;
    border-radius: 6px;
}

#mainShow .card-footer {
    background-color: #34469a;
    color: #fff;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.card-footer span {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonShowCard {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-control {
    border: 2px solid #34469a;
}

.newAndEdit-field {
    background-color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
    border: 3px solid #34469a;
}

.newMain {
    padding: 40px 0;
}

.button-logout-back {
    background-color: none;
    border: none;
    text-decoration: none;
    color: black;
}

.button-logout-back h2 {
    font-size: 24px;
}

/* bodydbaset */
.bodydbaset {
    padding: 10px 70px 10px 70px;
}

/* judul dbaset */
.juduldbaset {
    display: flex;
    justify-content: space-between;
}

.juduldbaset h3 {
    font-size: 30px;
}
/*responsive */
@media (max-width: 510px) {
    .juduldbaset h3 {
        font-size: 30px;
        padding-left: 50px;
    }
    #bodyAll {
        padding: 0;
    }
}

@media (max-width: 560px) {
    .showImage {
        width: 250px;
        height: 200px;
    }

    .showCard {
        width: 250px;
        height: 200px;
    }

    .carousel-item.active img {
        width: 250px;
        height: 200px;
    }
}

@media (max-width: 380px) {
    .juduldbaset h3 {
        font-size: 20px;
    }
    .showImage {
        width: 200px;
        height: 150px;
    }

    .showCard {
        width: 200px;
        height: 150px;
    }

    .carousel-item.active img {
        width: 200px;
        height: 150px;
    }
}

@media (max-width: 1200px) {
    #mainShow {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 0px;
    }
    .card {
        width: 100%;
    }
}

/* Dropdown Profile */
.uc-2-user-navigate {
    display: flex;
    align-items: center;
}

.uc-2-dropdown-user {
    position: absolute;
    top: 100px;
    right: 20px;
    padding: 0px 20px;
    background: #fff;
    width: 200px;
    border-radius: 15px;
    border: 1px grey solid;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.uc-2-dropdown-user.active {
    visibility: visible;
    opacity: 1;
}

.uc-2-dropdown-user .uc-2-username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

.uc-2-dropdown-user .uc-2-username .uc-2-name {
    font-family: Roboto;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 8px;
}

.uc-2-dropdown-user span {
    font-family: Roboto;
    font-size: 14px;
    color: #000;
    font-weight: 400;
}

.uc-2-dropdown-user ul {
    padding: 0;
}

.uc-2-dropdown-user ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid #000;
    display: flex;
    align-items: center;
}

.uc-2-dropdown-user ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.3;
    transition: 0.5s;
}

.uc-2-dropdown-user ul li:hover img {
    opacity: 1;
}

.uc-2-dropdown-user ul li button {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    border: 0;
    background-color: transparent;
    color: #000;
    font-weight: 500;
    transition: 0.5s;
}

.uc-2-dropdown-user ul li:hover button {
    color: #000;
    font-size: 16px;
}
